<%- include('partials/header') %>
<div class='container'>
    <div class='jumbotron'>
        <h1>Welcome to Josh's Portfolio!</h1>
        <h3>This is a work in progress and will be updated frequently. Thanks for stopping by :)</h3>
    </div>
</div>
