<%- include('partials/header') %>
<div class='container'>
    <div class='jumbotron'>
        <h1>Welcome to my site!</h1>
        <p>
            This site is an overview of who I am as a person. A basic overview of what will be on this site
            <ul>
                <li><a href="/resume">Work:</a> I will keep an up to date resume on the site as well as a link to my GitHub to be able to see what I do.</li>
                <li><a href="">Hobbies:</a> A section devoted to my hobbies.</li>
            </ul>
        </p>
    </div>
</div>
