<%- include('partials/header') %>
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <embed class="border border-top-0" src="JoshuaLeachResume.pdf" width="100%" height="1150">
        </div>
    </div>
</div>